.container {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 40%, #94e1fb, #f4f4f4);
}

.navigation {
}

.menu-item {
    -fx-padding: 14 0 14 0;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
    -fx-text-fill: #88bedd;
    -fx-background-color: transparent;
}

.menu-item.active {
    -fx-text-fill: #276487;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #276487;
}

.celsius {
    -fx-font-size: 120;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #276488;
}
.current-city {
    -fx-padding: 6 22 6 22;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 24;
    -fx-background-color: #276488;
    -fx-background-radius: 30;
}

/**
 * Search Tab
 */
.searchbar {
    -fx-font-size: 14;
    -fx-text-fill: #276487;
    -fx-background-color: #fafafa;
    -fx-border-color: #88bedd;
    -fx-border-width: 0.8;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.overlay {
    -fx-background-color: #fafafa;
    -fx-border-color: #88bedd;
    -fx-border-width: 0.8;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
}
.clear-btn {
    -fx-text-fill: #276487;
    -fx-font-size: 16;
    -fx-padding: 2 0 0 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.city-info-wrapper {
    -fx-background-color: #fafafa;
    -fx-border-color: #88bedd;
    -fx-border-width: 0.8;
    -fx-border-style: solid;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.city-info-label {
    -fx-text-fill: #276488;
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 14;
}

/* Utility Classes */
.cursor-pointer {
    -fx-cursor: hand;
}

.divider-bottom {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 0.8;
    -fx-border-color: #88bedd;
}

.medium {
    -fx-font-family: "Roboto Medium";
}
.bold {
    -fx-font-family: "Roboto Bold";
}