.container {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 40%, #94e1fb, #f4f4f4);
}

.navigation {
}

.menu-item {
    -fx-padding: 14 0 14 0;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
    -fx-text-fill: #88bedd;
    -fx-background-color: transparent;
}

.menu-item.active {
    -fx-text-fill: #276487;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #276487;
}

.celsius {
    -fx-font-size: 120;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: #276488;
}
.current-city {
    -fx-padding: 6 22 6 22;
    -fx-font-family: "Roboto Medium";
    -fx-text-fill: #fcfcfc;
    -fx-font-size: 24;
    -fx-background-color: #276488;
    -fx-background-radius: 30;
}

/**
 * Search Tab
 */
.overlay {
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.5, 0, 0);
}
.clear-btn {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* Utility Classes */
.cursor-pointer {
    -fx-cursor: hand;
}

.divider-bottom {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 0.8;
    -fx-border-color: #88bedd;
}